<td class="day <%= calendar_day.of_interest? ? 'of_interest' : nil %>">
  <header><%= calendar_day.date.to_s(:short) %></header>

  <% if f %>
    <%= f.fields_for calendar_day.date.to_s do |df| %>
      <%= render partial:    'calendar_appointments/calendar_appointment_edit',
                 collection: calendar_day.appointments,
                 as:         'calendar_appointment',
                 locals:     {f: df} %>
    <% end %>
  <% else %>
    <%= render partial: calendar_day.appointments, locals: {f: f} %>
  <% end %>
</td>
