<section class="appointment num_weeks<%= @calendar.num_weeks_to_display %> <%= calendar_appointment.css_class %>">
  <header class="recipient"><%= calendar_appointment.recipient_number %></header>
  <table>
    <tr>
      <td>Name:</td>
      <td><strong><%= fixed_size(calendar_appointment.name, 12) %></strong></td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td><%= action_name == 'print' ? fixed_size(calendar_appointment.phone, 15) : nil %></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><%= action_name == 'print' ? fixed_size(calendar_appointment.email, 15) : nil %></td>
    </tr>
  </table>
</section>
