<section class="appointment <%= calendar_appointment.css_class %>">
  <header class="recipient"><%= calendar_appointment.recipient_number %></header>
  <table>
    <tr>
      <td>Name:</td>
      <td><strong><%= fixed_size(calendar_appointment.name, 12) %></strong></td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td><%= fixed_size(calendar_appointment.phone, 15) %></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><%= fixed_size(calendar_appointment.email, 15) %></td>
    </tr>
  </table>
</section>
