<section class="appointment <%= calendar_appointment.css_class %>" style="height: auto;">
  <% recip_number = calendar_appointment.recipient_number %>
  <header class="recipient"><%= recip_number %></header>
  <%= f.fields_for recip_number.to_s do |af| %>
    <table data-lookup-group>
      <tr>
        <td>Name:</td>
        <td>
          <%= af.text_field :name,
                            :class => 'edit_input copyable',
                            :value => calendar_appointment.name,
                            :type  => :search,
                            :data => {
                              url:  calendar_volunteers_path(@calendar),
                              uuid: @calendar.unit_uuid,
                            },
                            'data-lookup-source' => true,
                            'data-lookup-target' => 'name',
                            'data-autocomplete-source' => :names_list %>
        </td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>
          <%= af.text_field :phone,
                            :class => 'edit_input copyable',
                            :value => calendar_appointment.phone,
                            :type  => :tel,
                            'data-lookup-target' => 'phone',
                            'data-autocomplete-source' => :phones_list %>
        </td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>
          <%= af.text_field :email,
                            :class => 'edit_input copyable',
                            :value => calendar_appointment.email,
                            'data-autocomplete-source' => :emails_list,
                            'data-lookup-target' => 'email',
                            :type => :email %>
        </td>
      </tr>
      <% Figaro.env.meal_types.split.each do |meal_type| %>
        <% lbl = Meal.css_class_for_type(meal_type) %>
        <tr>
          <td></td>
          <td class="class-selection">
            <%= af.radio_button :type, lbl, checked: (calendar_appointment.type == meal_type) %>
            <%= af.label "type_#{lbl}", lbl.truncate(9) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</section>

<% if recip_number == 1 %>
  <div style='text-align: right;'>
    <%= button_tag "Email(s)",
                   :type => :button,
                   :class => 'send-reminder-btn',
                   :data => {
                     url:  calendar_reminder_emailings_path(@calendar),
                     uuid: @calendar.unit_uuid,
                     date: calendar_appointment.date.to_s,
                   },
                   :confirm => "Send reminder emails to all the volunteers for #{calendar_appointment.date.to_s(:short)}?  The automatic email will still be sent, as well.",
                   :title => 'Send reminder email(s) to all volunteers.  An automatic email will still be sent, as well.' %>
    <%= button_tag "Copy &darr;".html_safe,
                   :type => :button,
                   :class => 'copy-appointment-btn',
                   :title => 'Copy the sign-up above to the sign-up below' %>
  </div>
<% end %>
