<section class="appointment num_weeks<%= @calendar.num_weeks_to_display %> <%= calendar_appointment.css_class %>">
  <% if calendar_appointment.of_interest? %>
    <header class="recipient"><%= calendar_appointment.recipient_number %></header>
  <% end %>
  <table>
    <tr>
      <% if calendar_appointment.of_interest? %>
        <td>Name:</td>
        <td><strong><%= fixed_size(calendar_appointment.name, 12) %></strong></td>
      <% else %>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      <% end %>
    </tr>
    <tr>
      <% if calendar_appointment.of_interest? %>
        <td>Phone:</td>
        <td><%= action_name == 'print' ? fixed_size(calendar_appointment.phone, 15) : nil %></td>
      <% else %>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      <% end %>
    </tr>
    <tr>
      <% if calendar_appointment.of_interest? %>
        <td>Email:</td>
        <td><%= action_name == 'print' ? fixed_size(calendar_appointment.email, 15) : nil %></td>
      <% else %>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      <% end %>
    </tr>
  </table>
</section>
