<%= simple_form_for @settings,
                    url: setting_path(@settings, uuid: @settings.unit_uuid) do |f| %>
  <%= f.error_notification %>

  <%= f.input :volunteer_pitch, as: :text, hint: 'HTML tags allowed' %>
  <%= f.input :meal_time, hint: 'HTML tags allowed', input_html: {size: 95} %>
  <%= f.input :reminder_subject, label: 'Reminder email subject' %>
  <%= f.input :coordinator_name %>
  <%= f.input :coordinator_email %>

  <% recipients_title = Figaro.env.recipient_title.to_s.pluralize %>
  <fieldset>
    <legend><%= recipients_title %></legend>
    <%= f.input :number_of_recipients,
                label: "Number of #{recipients_title.downcase}",
                collection: 1..Rails.configuration.max_recipients,
                as: :radio,
                input_html: {:class                 => 'recipient_count_radio_btn',
                             'data-orig-count'      => f.object.number_of_recipients,
                             'data-recipient-title' => Figaro.env.recipient_title.to_s.downcase} %>

    <% (1..Rails.configuration.max_recipients).each do |recipient_number| %>
      <%= render :partial => 'recipient', locals: {f: f, recipient_number: recipient_number, settings: @settings} %>
    <% end %>
  </fieldset>

  <div class="actions">
    <%= f.button :submit, "Save" %>
    <%= link_to 'Cancel', edit_calendar_path(@calendar, uuid: @calendar.unit_uuid) %>
  </div>
<% end %>
