<h1>
  <%= link_to adjacent_calendar_path(@calendar, -1), class: 'left screen-only' do %>
    <input type="button" value="&lArr;" />
  <% end %>
  <%= ENV['CALENDAR_TITLE'] %>, <%= calendar_range(@calendar) %>
  <%= link_to adjacent_calendar_path(@calendar,  1), class: 'right screen-only' do %>
    <input type="button" value="&rArr;" />
  <% end %>
</h1>

<p>
  <%= sanitize(@calendar.volunteer_pitch) %>
</p>
<p>
  Preferred time: <%= sanitize(@calendar.meal_time) %>.
  Times are flexible.
  Questions? Email
  <%= @calendar.coordinator_email %>.
  Thank you!
</p>
