<h1>
  <%= adjacent_calendar_link(@calendar, -1, f) %>
  <%= ENV['CALENDAR_TITLE'] %>, <%= calendar_range(@calendar) %>
  <%= adjacent_calendar_link(@calendar,  1, f) %>
</h1>

<p>
  <%= sanitize(@calendar.volunteer_pitch) %>
</p>
<p>
  Preferred time: <%= sanitize(@calendar.meal_time) %>.
  Times are flexible.
  Questions? Email
  <%= @calendar.coordinator_email %>.
  Thank you!
</p>
