<section>
  <h2>Recommendations:</h2>
  <ul>
    <li>Use family names ("Smith", "Jones") rather than longer individual names (e.g. "Smith Family", "Joanne Jones")</li>
    <li>You can use the tab key to quickly navigate between fields</li>
    <li>Use the arrow keys to choose from the drop-down lists.  Click the tab key or the enter key to select the highlighted item.</li>
  </ul>
</section>

<%= form_for @calendar,
             url: calendar_path(@calendar,
                                date: @calendar.start_date,
                                uuid: @calendar.unit_uuid) do |f| %>
  <%= link_to 'Settings', edit_setting_path(@calendar.id, :uuid => @calendar.unit_uuid), :style => 'float: right; font-size: larger;' %>

  <%= render :partial => 'form_buttons', locals: {calendar: @calendar} %>
  <%= render :partial => 'heading', locals: {f: f} %>

  <%= render :partial => 'calendar_table', locals: {f: f} %>

  <%= render :partial => 'form_buttons', locals: {calendar: @calendar} %>
<% end %>

<%= javascript_tag "var names_list  = #{@calendar.names_list};"  %>
<%= javascript_tag "var phones_list = #{@calendar.phones_list};" %>
<%= javascript_tag "var emails_list = #{@calendar.emails_list};" %>
