<header>
  <h1><%= ENV['CALENDAR_TITLE'] %></h1>

  <p>
    <%= @calendar.volunteer_pitch %>
  </p>
  <p>
    <strong>Recommended time:</strong> <%= @calendar.meal_time %>.
    Times are flexible.
    Questions? Send email to
    <%= @calendar.coordinator_email %>.
    Thank you!
  </p>
</header>

<table class="calendar">
<thead>
<tr>
  <th>SUN</th>
  <th>MON</th>
  <th>TUE</th>
  <th>WED</th>
  <th>THU</th>
  <th>FRI</th>
  <th>SAT</th>
</tr>
</thead>

<tbody>

<%= render partial: @calendar.weeks, locals: {f: nil} %>

</tbody>
</table>

<footer>
  <p>
    <span>View this calendar:
      <mark>
        <%= url_for(division_abbr: @calendar.division_abbr, unit_abbr: @calendar.unit_abbr, only_path: false) %>
      </mark>
    </span>
    <%= render @calendar.recipients %>
  </p>
</footer>
