<header>
  <section class="instructions screen-only">
    <p>
      To print the calendar, use your browser's <strong>Print Preview</strong> feature!
      Then make sure:
    </p>
    <ul>
      <li>the orientation is <strong>landscape</strong>,</li>
      <li>the margins are <strong>minimized</strong> or at most <strong>0.25 inches</strong> on all sides,</li>
      <li>the background colors and images are enabled (if the preview looks black-and-white),</li>
      <li>the header and footer are blank (we don't want the page's URL, page number, etc, to be printed), and</li>
      <li>your browser is printing at <strong>100% scale</strong> (turn off any "Adjust to Fit"-like options).</li>
    </ul>
    <p>
      You may need to use your browser's Page Setup feature to configure these settings.
    </p>
  </section>

  <h1><%= ENV['CALENDAR_TITLE'] %></h1>

  <p>
    <%= raw(@calendar.volunteer_pitch) %>
  </p>
  <p>
    Preferred time: <%= raw(@calendar.meal_time) %>.
    Times are flexible.
    Questions? Email
    <%= @calendar.coordinator_email %>.
    Thank you!
  </p>
</header>

<table class="calendar">
<thead>
<tr>
  <th>SUN</th>
  <th>MON</th>
  <th>TUE</th>
  <th>WED</th>
  <th>THU</th>
  <th>FRI</th>
  <th>SAT</th>
</tr>
</thead>

<tbody>

<%= render partial: @calendar.weeks, locals: {f: nil} %>

</tbody>
</table>

<footer>
  <p>
    <span>View this calendar:
      <mark>
        <%= link_to nil, url_for(division_abbr: @calendar.division_abbr, unit_abbr: @calendar.unit_abbr, only_path: false) %>
      </mark>
    </span>
    <%= render @calendar.recipients %>
  </p>
</footer>
