<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>Hello,</p>

<p>
  Thank you for signing up to provide <%= meal_name_with_indefinite_article(@meal) %>
  for <%= @meal_recipients.size %> <%= Figaro.env.recipient_title.downcase.pluralize(@meal_recipients.size) %>
  on <%= l @meal.date, format: :soon %>.
  The preferred time is <%= strip_tags(@meal.meal_time) %>.
</p>

<p>
  You can reach the <%= Figaro.env.recipient_title.downcase.pluralize(@meal_recipients.size) %>
  at:
</p>

<table cellspacing="0" cellpadding="3" border="0">
  <% @meal_recipients.each do |recipient| %>
    <tr>
      <td>
        <%= recipient_title(recipient) %>:
      </td>
      <td>
        <%= recipient.phone %>
      </td>
    </tr>
  <% end %>
</table>

<p>
  You can view the complete sign-up calendar at
  <%= link_to nil,
              url_for(controller: :calendars, action: :show,
                      division_abbr: @meal.division_abbr, unit_abbr: @meal.unit_abbr,
                      only_path: false) %>.
</p>

<p>
  Or you can see just your sign-ups at
  <%= link_to nil,
              url_for(controller: :calendars, action: :show,
                      division_abbr: @meal.division_abbr, unit_abbr: @meal.unit_abbr,
                      volunteer_id: @meal.volunteer_id,
                      only_path: false) %>.
</p>

<p>Your act of service is greatly appreciated!</p>

<p><%= @meal.coordinator_name %><br/><%= mail_to @meal.coordinator_email %></p>

</body>
</html>
