<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>Hello,</p>

<p>
  Thank you for signing up to provide <%= meal_name_with_indefinite_article(@meal) %>
  for <%= @meal_recipients.size %> <%= Figaro.env.recipient_title.downcase.pluralize(@meal_recipients.size) %>
  on <%= l @meal.date, format: :soon %>.
  The preferred time is <%= strip_tags(@meal.meal_time) %>.
</p>

<p>
  You can reach the <%= Figaro.env.recipient_title.downcase.pluralize(@meal_recipients.size) %>
  at <%= @meal_recipients.map(&:phone).find_all(&:present?).uniq.join(' and ') %>.
</p>

<p>
  You can view the sign-up calendar at <%= link_to nil, url_for("http://#{Figaro.env.app_domain}/#{@meal.division_abbr}/#{@meal.unit_abbr}") %>.
</p>

<p>Your act of service is greatly appreciated!</p>

<p><%= @meal.coordinator_name %><br/><%= mail_to @meal.coordinator_email %></p>

</body>
</html>
