<!DOCTYPE html>
<html>
<head>
  <title><%= Figaro.env.calendar_title%></title>
  <%= stylesheet_link_tag    "application", media: "screen, projection" %>
  <%= stylesheet_link_tag    "application-print", media: "print" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="flash_messages">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "flash #{key}") %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
